<style>
input {
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid black;
    width: 100%;

}

input[type=text],
[type=email] {
    background-color: rgb(226, 221, 221);
    color: black;
    height: 20px;
}

input[type=submit]:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
    transition-duration: 0.4s;
    background-color: #4CAF50;
    /* Green */
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
    display: block;


}

.titcad {
    text-align: center;
}

.form {
    text-align: center;
}

.fieldset {
    background-color: rgb(25, 25, 95);
    font-family: 'Lucida Sans';
    color: white;
    border-radius: 6px;
    border: 1px none black;
    width: 40%;
    text-align: justify;
    margin: 0px auto;

}

.fieldset2 {
    background-color: rgb(25, 25, 95);
    font-family: 'Lucida Sans';
    color: white;
    border-radius: 6px;
    border: 1px none black;
    
    text-align: justify;
    
    margin: 5px 0;

}

.titfieldset {
    color: black;


}
</style>